Repository sapphiredev/utilities, pull requests merged in 2020-12, with the labels that each got.

#48 fix(discord-utilities): mention regexes to strictly match their raw formats
  packages/discord-utilities/src/lib/regexes.ts
  packages/prettier-config/tests/__snapshots__/prettier.test.ts.snap
Labels: Meta: BugFix, Priority: High, SEM: Minor

#50 fix(time-utilities): make displayUTC's time argument optional
  packages/time-utilities/src/lib/Timestamp.ts
Labels: Meta: BugFix, SEM: Patch

#51 feat(decorators): add createFunctionPrecondition, fixed build
  jest.config.ts
  packages/decorators/jest.config.ts
  packages/decorators/src/core-decorators.ts
  packages/decorators/src/utils.ts
  packages/decorators/tests/core-decorators/apply-options.test.ts
  packages/decorators/tests/core-decorators/create-function-precondition.test.ts
  packages/decorators/tests/jest.setup.ts
  packages/decorators/tests/mocks/MockInstances.ts
  packages/utilities/tests/deepClone.test.ts
Labels: Meta: BugFix, Meta: Feature, SEM: Minor
