Repository sapphiredev/utilities, pull requests merged in 2021-07, with the labels that each got.

#130 refactor(rateLimits): rewrite all of it
  .github/workflows/continuous-integration.yml
  jest.config.ts
  package.json
  packages/ratelimits/package.json
  packages/ratelimits/rollup.config.js
  packages/ratelimits/src/index.ts
  packages/ratelimits/src/lib/Bucket.ts
  packages/ratelimits/src/lib/RateLimit.ts
  packages/ratelimits/src/lib/RateLimitManager.ts
  packages/ratelimits/tests/lib/Bucket.test.ts
  packages/ratelimits/tests/lib/RateLimitManager.test.ts
  packages/snowflake/jest.config.ts
  packages/snowflake/tests/lib/DiscordSnowflake.test.ts
  packages/snowflake/tests/lib/Snowflake.test.ts
  packages/snowflake/tests/lib/TwitterSnowflake.test.ts
  packages/utilities/jest.config.ts
  scripts/jest.setup.ts
  scripts/rollup.config.js
Labels: Meta: Refactor, SEM: Major, Type: Enhancement

#134 feat(discord.js-utilities): improve PaginatedMessage
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
  package.json
  packages/discord.js-utilities/package.json
  packages/discord.js-utilities/rollup.config.js
  packages/discord.js-utilities/src/index.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/LazyPaginatedMessage.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/index.ts
  yarn.lock
Labels: Meta: Cleanup, Meta: Dependencies, Meta: Feature, Meta: Refactor, Priority: High, SEM: Major

#137 fix(discord.js-utilities): fix run method for PaginatedMessage
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: Meta: BugFix, Priority: Critical, SEM: Patch

#138 feat(decorators): add new permission decorators
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
  package.json
  packages/decorators/README.md
  packages/decorators/package.json
  packages/decorators/src/base-decorators.ts
  packages/decorators/src/core-decorators.ts
  packages/decorators/src/djs-decorators.ts
  packages/decorators/src/index.ts
  packages/decorators/src/piece-decorators.ts
  packages/decorators/tests/base/Enumerable.test.ts
  packages/decorators/tests/base/EnumerableMethod.test.ts
  packages/decorators/tests/core-decorators/create-function-precondition.test.ts
  packages/decorators/tests/djs/RequiresDMContext.test.ts
  packages/decorators/tests/djs/RequiresGuildContext.test.ts
  packages/decorators/tests/djs/RequiresPermissions.test.ts
  packages/decorators/tests/pieces/ApplyOptions.test.ts
  tsconfig.eslint.json
  yarn.lock
Labels: Meta: Feature, Meta: Refactor, SEM: Minor
