Repository sapphiredev/utilities, pull requests merged in 2021-09, with the labels that each got.

#165 fix(discord.js-utilities): account thread channels in permission checks
  packages/discord.js-utilities/src/lib/type-guards.ts
  packages/discord.js-utilities/src/lib/utilities.ts
Labels: Meta: BugFix, SEM: Patch

#166 fix(snowflake): fixed snowflake generating duplicate IDs
  packages/snowflake/package.json
  packages/snowflake/src/lib/Snowflake.ts
  packages/snowflake/tests/lib/Snowflake.test.ts
Labels: Meta: BugFix, Priority: High, SEM: Patch

#170 fix(ratelimits): fixed docs in readme
  packages/ratelimits/README.md
  packages/ratelimits/src/lib/RateLimitManager.ts
Labels: Meta: Documentation
