Repository sapphiredev/utilities, pull requests merged in 2021-10, with the labels that each got.

#188 feat(PaginatedMessage): made separator text of embed field customizable
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: Hacktoberfest, hacktoberfest-accepted

#191 fix(PaginatedMessage): fixed `embedFooterSeperator` -> `embedFooterSeparator`
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: Meta: Refactor

#193 fix(utilities): rename `Awaited<T>` to `Awaitable<T>`
  packages/discord.js-utilities/src/lib/MessagePrompter/strategies/MessagePrompterBaseStrategy.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
  packages/utilities/src/lib/utilityTypes.ts
  typedoc.json
Labels: Meta: Typings, SEM: Patch

#194 feat(utilities): support abstract classes for `Constructor` utility type
  packages/utilities/src/lib/utilityTypes.ts
Labels: Meta: Typings, SEM: Patch, hacktoberfest-accepted
