Repository sapphiredev/utilities, pull requests merged in 2021-02, with the labels that each got.

#72 fix(discord-utilities): `TwemojiRegex` is a RegExp, not a string
  packages/discord-utilities/src/lib/twemojiLib.d.ts
Labels: Meta: BugFix, Priority: Critical, SEM: Patch

#71 docs(paginated-message): resolved typo
  packages/discord.js-utilities/src/lib/PaginatedMessage.ts
Labels: Meta: Documentation, Priority: Medium, SEM: N/A

#70 Add Discord Webhook Regex
  packages/discord-utilities/src/lib/regexes.ts
Labels: Meta: Feature, Priority: Medium, SEM: Minor

#75 fix(discord-utilities): ensure `FormattedCustomEmojiWithGroups` and `ParsedCustomEmojiWithGroups` can be used as substring extraction
  packages/discord-utilities/src/lib/regexes.ts
Labels: Meta: BugFix, Priority: Medium, SEM: Patch

#77 fix(duration): make invalid input return NaN
  packages/time-utilities/src/lib/Duration.ts
  packages/time-utilities/tests/lib/duration/Duration.test.ts
Labels: Meta: BugFix, SEM: Major, Type: Enhancement
