Repository sapphiredev/utilities, pull requests merged in 2021-11, with the labels that each got.

#212 fix(eslint-config): disable `@typescript-eslint/no-namespace`
  packages/eslint-config/src/index.ts
  packages/eslint-config/tests/__snapshots__/eslint.test.ts.snap
Labels: Meta: BugFix, Priority: High, SEM: Patch

#220 feat: add array partitioning
  packages/utilities/src/index.ts
  packages/utilities/src/lib/partition.ts
  packages/utilities/tests/partition.test.ts
Labels: Meta: Feature, SEM: Minor

#221 fix(PaginatedMessage): partition buttons and select menus
  packages/discord.js-utilities/src/lib/PaginatedMessages/utils.ts
Labels: Meta: BugFix, SEM: Patch

#224 feat(discord-utilities): add discord limits
  packages/discord-utilities/src/index.ts
  packages/discord-utilities/src/lib/limits.ts
Labels: Meta: Feature, Priority: Medium, SEM: Minor
