Repository sapphiredev/utilities, pull requests merged in 2021-12, with the labels that each got.

#231 feat(Snowflake): rework entire package
  packages/snowflake/src/lib/DiscordSnowflake.ts
  packages/snowflake/src/lib/Snowflake.ts
  packages/snowflake/src/lib/TwitterSnowflake.ts
  packages/snowflake/tests/lib/DiscordSnowflake.test.ts
  packages/snowflake/tests/lib/Snowflake.test.ts
  packages/snowflake/tests/lib/TwitterSnowflake.test.ts
Labels: Meta: Cleanup, Meta: Refactor, SEM: Major, Type: Performance

#233 build: set up turbo
  .eslintrc
  .github/workflows/auto-deprecate.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/deprecate-on-merge.yml
  .gitignore
  lerna.json
  package.json
  packages/decorators/package.json
  packages/discord-utilities/package.json
  packages/discord-utilities/tests/tsconfig.json
  packages/discord.js-utilities/package.json
  packages/discord.js-utilities/tests/tsconfig.json
  packages/embed-jsx/package.json
  packages/event-iterator/tests/index.test.ts
  packages/event-iterator/tests/lib/MockEmitter.ts
  packages/prettier-config/package.json
  scripts/clean.mjs
  yarn.lock
Labels: Meta: Dependencies, Priority: Medium, SEM: N/A, Type: Caching, Type: Dependencies, Type: Maintenance

#237 feat(event-iterator): do not bundle for browsers
  packages/event-iterator/package.json
  packages/event-iterator/rollup.config.js
  packages/event-iterator/src/index.ts
  packages/event-iterator/src/tsconfig.json
  packages/event-iterator/tests/lib/MockEmitter.ts
  packages/event-iterator/tests/tsconfig.json
  packages/event-iterator/tsconfig.json
  yarn.lock
Labels: Meta: Dependencies, Meta: Refactor, Priority: Low, SEM: Minor

#242 fix(utilities): make `NonNullObject` require object
  packages/utilities/src/lib/utilityTypes.ts
Labels: Meta: BugFix, Meta: Typings, SEM: Patch
