Repository sapphiredev/utilities, pull requests merged in 2021-08, with the labels that each got.

#147 feat(discord.js-utilities): add many more utilities
  packages/discord.js-utilities/src/index.ts
  packages/discord.js-utilities/src/lib/type-guards.ts
  packages/discord.js-utilities/src/lib/utilities.ts
  packages/discord.js-utilities/src/lib/utility-types.ts
Labels: Meta: BugFix, Meta: Dependencies, Meta: Feature, Meta: Refactor, Meta: Typings, Priority: Critical, SEM: Minor

#145 feat(decorators): add user permissions decorator
  packages/decorators/src/djs-decorators.ts
  packages/decorators/src/piece-decorators.ts
  packages/decorators/tests/djs/RequiresClientPermissions.test.ts
  packages/decorators/tests/djs/RequiresUserPermissions.test.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: Meta: Feature, Meta: Refactor, Priority: Medium, SEM: Major, Type: Needs Rebase & Merge

#143 feat(discord.js-utilities): add `pageIndexPrefix` static property
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: Meta: Documentation, Meta: Examples, Meta: Feature, Priority: Medium, SEM: Minor

#148 feat: backported more utilities and fixed bugs
  package.json
  packages/discord.js-utilities/src/lib/type-guards.ts
  packages/discord.js-utilities/src/lib/utility-types.ts
  yarn.lock
Labels: Meta: Feature, Meta: Refactor, SEM: Major, Type: Needs Rebase & Merge

#149 feat(fetch): migrate to using cross-fetch
  package.json
  packages/fetch/README.md
  packages/fetch/package.json
  packages/fetch/rollup.config.js
  packages/fetch/src/index.ts
  packages/fetch/src/lib/QueryError.ts
  packages/fetch/src/lib/fetch.ts
  packages/fetch/src/lib/types.ts
  packages/fetch/tests/fetch.test.ts
  packages/fetch/tsconfig.json
  yarn.lock
Labels: Meta: Dependencies, Meta: Feature, Meta: Refactor, Priority: High, SEM: Major

#152 fix(djs-utilities): fixed parameter types for type guards
  packages/discord.js-utilities/src/lib/type-guards.ts
  packages/discord.js-utilities/src/lib/utility-types.ts
Labels: Meta: BugFix, SEM: Patch

#160 feat(discord.js-utilities): option to make Prompters edit a message
  packages/discord.js-utilities/src/lib/MessagePrompter/strategies/MessagePrompterBaseStrategy.ts
  packages/discord.js-utilities/src/lib/MessagePrompter/strategies/MessagePrompterMessageStrategy.ts
  packages/discord.js-utilities/src/lib/MessagePrompter/strategyOptions.ts
Labels: Meta: Feature, Priority: Medium, SEM: Minor

#162 feat(discord.js-utilities): add more typeguards + update checks
  packages/discord.js-utilities/src/lib/utilities.ts
Labels: Meta: Feature, Priority: High, SEM: Minor
