Repository sapphiredev/utilities, pull requests merged in 2022-06, with the labels that each got.

#354 fix(discord-utilities): update invite link regex
  packages/discord-utilities/src/lib/regexes.ts
Labels: SEM: Patch

#372 fix(paginated-message): fixed an issue cancelling a paginated message after an ephemeral reply
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: Meta: BugFix, SEM: Patch

#376 fix(discord-utilities): fixed the export of TwemojiRegex
  .github/workflows/auto-updater.yml
  packages/discord-utilities/package.json
  packages/discord-utilities/src/index.ts
  packages/discord-utilities/src/lib/TwemojiRegex.ts
  packages/discord-utilities/src/lib/regexes.ts
  packages/discord-utilities/src/lib/twemojiLib.d.ts
  scripts/sha-tracker.json
  scripts/twemoji-regex-updater.mjs
  yarn.lock
Labels: Meta: BugFix, Meta: Dependencies, SEM: Patch

#364 refactor: rewrite @sapphire/result from scratch
  .vscode/settings.json
  packages/result/src/index.ts
  packages/result/src/lib/Lexure.ts
  packages/result/src/lib/Maybe.ts
  packages/result/src/lib/Option.ts
  packages/result/src/lib/Option/IOption.ts
  packages/result/src/lib/Option/None.ts
  packages/result/src/lib/Option/OptionError.ts
  packages/result/src/lib/Option/Some.ts
  packages/result/src/lib/Parsers.ts
  packages/result/src/lib/Result.ts
  packages/result/src/lib/Result/Err.ts
  packages/result/src/lib/Result/IResult.ts
  packages/result/src/lib/Result/Ok.ts
  packages/result/src/lib/Result/ResultError.ts
  packages/result/src/lib/common/utils.ts
  packages/result/tests/Maybe.test.ts
  packages/result/tests/Option.test.ts
  packages/result/tests/Parsers.test.ts
  packages/result/tests/Result.test.ts
  packages/result/tests/common/utils.test.ts
Labels: Meta: Error Handling, Meta: Feature, Meta: Refactor, Priority: Medium, SEM: Major
