Repository sapphiredev/utilities, pull requests merged in 2022-02, with the labels that each got.

#282 fix(snowflake): fixed the examples for `DiscordSnowflake` and `TwitterSnowflake`
  packages/snowflake/README.md
Labels: Meta: Documentation

#283 fix: fixed issues with `PaginatedMessage`
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessageTypes.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/utils.ts
  packages/discord.js-utilities/src/lib/type-guards.ts
Labels: Meta: BugFix, Meta: Feature, Priority: Critical, SEM: Minor, Type: Needs Rebase & Merge

#288 fix(PaginatedMessage): fix footer application when there are multiple embeds
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: Meta: BugFix, Priority: Medium, SEM: Patch

#274 feat(package): add @sapphire/result package
  .all-contributorsrc
  .npm-deprecaterc.yml
  README.md
  packages/result/jest.config.ts
  packages/result/package.json
  packages/result/src/index.ts
  packages/result/src/lib/Lexure.ts
  packages/result/src/lib/Maybe.ts
  packages/result/src/lib/Parsers.ts
  packages/result/src/lib/Result.ts
  packages/result/src/tsconfig.json
  packages/result/tests/Maybe.test.ts
  packages/result/tests/Parsers.test.ts
  packages/result/tests/Result.test.ts
  packages/result/tests/tsconfig.json
  packages/result/tsconfig.eslint.json
  packages/result/tsup.config.ts
  scripts/clean.mjs
  yarn.lock
Labels: Meta: Feature, SEM: Major

#289 fix(PaginatedMessage): fixes for modifying the components when the bot doesn't have VIEW_CHANNEL
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: Meta: BugFix, Priority: High, SEM: Patch

#291 feat(PaginatedMessage): emit warning when running in a DM channel without required client options
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessageTypes.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/utils.ts
Labels: Meta: BugFix, Priority: Medium, SEM: Patch, Meta: GitHub

#295 feat(discord-utilities): add limits for autocomplete
  packages/discord-utilities/src/lib/limits.ts
Labels: Meta: BugFix, Meta: Feature, Priority: Medium, SEM: Minor

#298 fix(PaginatedMessage): allow overwriting `SelectMenu` options
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: Meta: BugFix, Priority: Medium, SEM: Patch
