Repository sapphiredev/utilities, pull requests merged in 2022-10, with the labels that each got.

#475 feat(result): add `Result.unwrapRaw`
  packages/result/src/lib/Result/Err.ts
  packages/result/src/lib/Result/IResult.ts
  packages/result/src/lib/Result/Ok.ts
  packages/result/tests/Result.test.ts
Labels: feature, semver:minor, packages:result

#470 feat: make @sapphire/stopwatch browser compitible
  .github/workflows/continuous-integration.yml
  packages/stopwatch/README.md
  packages/stopwatch/package.json
  packages/stopwatch/src/index.ts
  packages/stopwatch/src/tsconfig.json
  packages/stopwatch/tests/browser/browser.test.ts
  packages/stopwatch/tsup.config.ts
  yarn.lock
Labels: feature, semver:minor, packages:stopwatch

#469 feat(utilities): add `sleep` and `sleepSync`
  packages/utilities/src/index.ts
  packages/utilities/src/lib/sleep.ts
  packages/utilities/src/tsconfig.json
  packages/utilities/tests/sleep.test.ts
  packages/utilities/tests/tsconfig.json
  packages/utilities/tests/util/macros/comparators.ts
Labels: feature, semver:minor, packages:utilities

#474 feat(utilities): add `objectValues` function
  packages/utilities/src/index.ts
  packages/utilities/src/lib/objectValues.ts
  packages/utilities/tests/objectValues.test.ts
Labels: feature, semver:minor, packages:utilities

#468 feat: add `@sapphire/node-utilities`
  .all-contributorsrc
  .github/CODEOWNERS
  .github/labels.yml
  .github/workflows/documentation.yml
  .npm-deprecaterc.yml
  packages/node-utilities/.cliff-jumperrc.yml
  packages/node-utilities/.typedoc-json-parserrc.yml
  packages/node-utilities/CHANGELOG.md
  packages/node-utilities/README.md
  packages/node-utilities/cliff.toml
  packages/node-utilities/package.json
  packages/node-utilities/src/index.ts
  packages/node-utilities/src/lib/findFilesRecursively.ts
  packages/node-utilities/src/tsconfig.json
  packages/node-utilities/tests/findFilesRecursively.test.ts
  packages/node-utilities/tests/findFilesRecursivelyDemoFiles/a.txt
  packages/node-utilities/tests/findFilesRecursivelyDemoFiles/file1.txt
  packages/node-utilities/tests/findFilesRecursivelyDemoFiles/file2.csv
  packages/node-utilities/tests/findFilesRecursivelyDemoFiles/file3.xml
  packages/node-utilities/tests/findFilesRecursivelyDemoFiles/nested/b.txt
  packages/node-utilities/tests/tsconfig.json
  packages/node-utilities/tsconfig.eslint.json
  packages/node-utilities/tsup.config.ts
  packages/node-utilities/typedoc.json
  packages/node-utilities/vitest.config.ts
  scripts/clean-full.mjs
  scripts/clean.mjs
  typedoc.json
  yarn.lock
Labels: feature

#471 feat(utilities): add `objectEntries` function
  packages/utilities/src/index.ts
  packages/utilities/src/lib/objectEntries.ts
  packages/utilities/tests/objectEntries.test.ts
Labels: feature, semver:minor, packages:utilities

#472 feat(utilities): add `objectKeys` function
  packages/utilities/src/index.ts
  packages/utilities/src/lib/objectKeys.ts
  packages/utilities/tests/objectKeys.test.ts
  yarn.lock
Labels: feature, semver:minor, packages:utilities

#498 refactor(utilities): improve `codeBlock` and `inlineCodeBlock`
  packages/utilities/src/lib/codeBlock.ts
  packages/utilities/src/lib/inlineCodeBlock.ts
  packages/utilities/tests/codeBlock.test.ts
  packages/utilities/tests/isThenable.test.ts
  packages/utilities/tests/mergeObjects.test.ts
Labels: refactor, semver:patch, packages:utilities
