Repository sapphiredev/utilities, pull requests merged in 2022-08, with the labels that each got.

#413 feat(utilities): add getDeepObjectKeys
  packages/utilities/src/index.ts
  packages/utilities/src/lib/getDeepObjectKeys.ts
  packages/utilities/tests/getDeepObjectKeys.test.ts
Labels: feature, semver:minor

#414 feat(result): add `inspect*Async` methods
  packages/result/src/lib/Option/IOption.ts
  packages/result/src/lib/Option/None.ts
  packages/result/src/lib/Option/Some.ts
  packages/result/src/lib/Result/Err.ts
  packages/result/src/lib/Result/IResult.ts
  packages/result/src/lib/Result/Ok.ts
  packages/result/tests/Option.test.ts
  packages/result/tests/Result.test.ts
Labels: feature, semver:minor, packages:result

#417 feat(AsyncQueue): add AbortSignal support
  packages/async-queue/src/lib/AsyncQueue.ts
  packages/async-queue/src/lib/AsyncQueueEntry.ts
  packages/async-queue/tests/AsyncQueue.test.ts
  packages/async-queue/tests/async-queue.test.ts
Labels: feature, semver:minor, packages:async-queue

#428 fix(utilities): fixed `getDeepObjectKeys` not returning proper values for arrays of not-objects
  packages/utilities/src/lib/getDeepObjectKeys.ts
  packages/utilities/tests/getDeepObjectKeys.test.ts
Labels: semver:patch, tests, packages:utilities

#429 feat: add `AsyncQueue#abortAll`
  packages/async-queue/src/lib/AsyncQueue.ts
  packages/async-queue/src/lib/AsyncQueueEntry.ts
  packages/async-queue/tests/AsyncQueue.test.ts
Labels: feature, semver:minor, packages:async-queue

#436 test(result): add full coverage
  packages/result/tests/Option.test.ts
  packages/result/tests/Result.test.ts
  packages/result/tests/shared.ts
Labels: tests, packages:result
