Repository sapphiredev/utilities, pull requests merged in 2023-11, with the labels that each got.

#661 docs(utilities): use updated name in `@link` for `HttpUrlRegex`
  packages/discord-utilities/src/lib/regexes.ts
Labels: documentation, packages:discord-utilities

#662 docs(discord.js-utilities): update discord.js.org links
  packages/discord.js-utilities/src/lib/MessagePrompter/MessagePrompter.ts
  packages/discord.js-utilities/src/lib/MessagePrompter/strategies/MessagePrompterConfirmStrategy.ts
  packages/discord.js-utilities/src/lib/MessagePrompter/strategies/MessagePrompterMessageStrategy.ts
  packages/discord.js-utilities/src/lib/MessagePrompter/strategies/MessagePrompterNumberStrategy.ts
  packages/discord.js-utilities/src/lib/MessagePrompter/strategies/MessagePrompterReactionStrategy.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: documentation, packages:discord.js-utilities

#660 feat(utilities): add maximum nitro basic upload size
  packages/discord-utilities/src/lib/limits.ts
Labels: feature, packages:discord-utilities

#665 fix(discord.js-utilities): fixed `isNsfwChannel` typeguard by including `ChannelType.GuildMedia`
  packages/discord.js-utilities/src/lib/type-guards.ts
  packages/utilities/src/lib/types.ts
Labels: semver:patch, packages:discord.js-utilities

#659 feat(PaginatedMessage): improve `@discordjs/builders` support
  packages/discord.js-utilities/src/lib/PaginatedMessages/LazyPaginatedMessage.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedFieldMessageEmbed.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessageEmbedFields.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessageTypes.ts
Labels: refactor, semver:minor, typings, packages:discord.js-utilities

#666 fix(paginatedmessage): fixed interacting with multiple users on multiple ephemeral interactions
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
Labels: semver:patch, packages:discord.js-utilities

#667 docs(typeguards): improve the docs for isAnyInteraction and isAnyInteractableInteraction
  packages/discord.js-utilities/src/lib/type-guards.ts
Labels: documentation, packages:discord.js-utilities

#668 feat(tryParseJSON): support `replacer` argument
  packages/utilities/src/lib/tryParseJSON.ts
  packages/utilities/tests/tryParseJSON.test.ts
Labels: feature, semver:minor, packages:utilities
