Repository sapphiredev/utilities, pull requests merged in 2023-07, with the labels that each got.

#615 refactor(utilities): make sleepSync its own file
  packages/utilities/package.json
  packages/utilities/src/index.ts
  packages/utilities/src/lib/sleep.ts
  packages/utilities/src/lib/sleepSync.ts
  packages/utilities/tests/retry.test.ts
  packages/utilities/tests/retrySync.test.ts
  packages/utilities/tests/sleep.test.ts
  packages/utilities/tests/sleepSync.test.ts
Labels: refactor, semver:patch, packages:utilities

#617 test(sleepSync): use spies for `Date.now()`
  packages/utilities/tests/sleepSync.test.ts
Labels: tests, packages:utilities

#620 fix(tsconfig): set `noEmitHelpers` to false
  packages/discord.js-utilities/src/index.ts
  packages/ts-config/tsconfig.json
Labels: semver:patch, packages:ts-config

#626 refactor(sleep): align more closely with the Node.js API. This removes the `AbortError` class, if you were previously using it then check for `instanceof DOMException` and `error.name === 'AbortError'`
  packages/utilities/src/lib/sleep.ts
  packages/utilities/tests/sleep.test.ts
Labels: refactor, semver:major, packages:utilities

#627 refactor(utilities): rewrite `pollSync`
  packages/utilities/src/lib/poll.ts
  packages/utilities/src/lib/pollSync.ts
  packages/utilities/tests/poll.test.ts
  packages/utilities/tests/pollSync.test.ts
Labels: refactor, packages:utilities

#616 feat(utilities): add poll function
  packages/utilities/package.json
  packages/utilities/src/index.ts
  packages/utilities/src/lib/poll.ts
  packages/utilities/src/lib/pollSync.ts
  packages/utilities/tests/poll.test.ts
  packages/utilities/tests/pollSync.test.ts
  packages/utilities/tests/retry.test.ts
  packages/utilities/tests/retrySync.test.ts
Labels: feature, semver:minor, packages:utilities
