Repository sapphiredev/utilities, pull requests merged in 2023-05, with the labels that each got.

#592 fix(utilities): add support for TypedArray to deepClone
  packages/utilities/src/lib/deepClone.ts
  packages/utilities/tests/deepClone.test.ts
  packages/utilities/vitest.config.ts
Labels: semver:patch, packages:utilities

#594 refactor(bitfield): call entries only once
  packages/bitfield/src/lib/BitField.ts
Labels: performance, refactor, semver:patch, packages:bitfield

#595 feat(snowflake): expose `processId` and `workerId`
  packages/snowflake/src/lib/Snowflake.ts
  packages/snowflake/tests/lib/Snowflake.test.ts
Labels: feature, performance, refactor, semver:minor, tests, packages:snowflake

#596 refactor(snowflake): handle out-of-bounds `increment` correctly
  packages/snowflake/src/lib/Snowflake.ts
  packages/snowflake/tests/lib/Snowflake.test.ts
Labels: priority:high, refactor, regression, semver:minor, tests, packages:snowflake
