Repository sapphiredev/utilities, pull requests merged in 2024-11, with the labels that each got.

#808 feat: rewrite `/result`
  packages/result/src/index.ts
  packages/result/src/lib/Option.ts
  packages/result/src/lib/Option/IOption.ts
  packages/result/src/lib/Option/None.ts
  packages/result/src/lib/Option/Some.ts
  packages/result/src/lib/OptionError.ts
  packages/result/src/lib/Result.ts
  packages/result/src/lib/Result/Err.ts
  packages/result/src/lib/Result/IResult.ts
  packages/result/src/lib/Result/Ok.ts
  packages/result/src/lib/ResultError.ts
  packages/result/src/lib/common/utils.ts
  packages/result/tests/Option.test.ts
  packages/result/tests/Result.test.ts
  yarn.lock
Labels: feature, refactor, semver:minor, typings, packages:result

#826 fix: move browser imports
  packages/async-queue/package.json
  packages/bitfield/package.json
  packages/cron/package.json
  packages/discord-utilities/package.json
  packages/duration/package.json
  packages/fetch/package.json
  packages/iterator-utilities/package.json
  packages/lexure/package.json
  packages/ratelimits/package.json
  packages/result/package.json
  packages/snowflake/package.json
  packages/stopwatch/package.json
  packages/string-store/package.json
  packages/time-utilities/package.json
  packages/timer-manager/package.json
  packages/timestamp/package.json
  packages/utilities/package.json
  scripts/subpath-updater.cts
Labels: regression, semver:patch, packages:async-queue, packages:discord-utilities, packages:fetch, packages:lexure, packages:ratelimits, packages:result, packages:snowflake, packages:stopwatch, packages:string-store, packages:time-utilities, packages:utilities, packages:cron, packages:duration, packages:timer-manager, packages:timestamp, packages:bitfield, packages:iterator-utilities

#825 feat(types): add `If` and `RequiredIf`
  packages/utilities/src/lib/types.ts
Labels: feature, semver:minor, tests

#823 refactor: resolve several sonar issues
  packages/async-queue/src/lib/AsyncQueue.ts
  packages/decorators/src/base-decorators.ts
  packages/discord-utilities/src/lib/InteractionOptionResolver.ts
  packages/discord.js-utilities/src/lib/MessagePrompter/MessagePrompter.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessage.ts
  packages/discord.js-utilities/src/lib/PaginatedMessages/PaginatedMessageTypes.ts
  packages/event-iterator/src/index.ts
  packages/event-iterator/tests/lib/MockEmitter.ts
  scripts/vitest.config.ts
Labels: refactor, semver:patch, packages:async-queue, packages:decorators, packages:discord-utilities, packages:discord.js-utilities, packages:event-iterator

#827 fix(types): resolve regression
  packages/result/src/lib/Option.ts
  packages/result/src/lib/Result.ts
  packages/result/tests/Option.test.ts
  packages/result/tests/Result.test.ts
Labels: regression, semver:patch

#830 revert: "fix: move browser imports"
  packages/async-queue/package.json
  packages/bitfield/package.json
  packages/cron/package.json
  packages/discord-utilities/package.json
  packages/duration/package.json
  packages/fetch/package.json
  packages/iterator-utilities/package.json
  packages/lexure/package.json
  packages/ratelimits/package.json
  packages/result/package.json
  packages/snowflake/package.json
  packages/stopwatch/package.json
  packages/string-store/package.json
  packages/time-utilities/package.json
  packages/timer-manager/package.json
  packages/timestamp/package.json
  packages/utilities/package.json
  scripts/subpath-updater.cts
Labels: priority:critical, regression, semver:patch, packages:async-queue, packages:discord-utilities, packages:fetch, packages:lexure, packages:ratelimits, packages:result, packages:snowflake, packages:stopwatch, packages:string-store, packages:time-utilities, packages:utilities, packages:cron, packages:duration, packages:timer-manager, packages:timestamp, packages:bitfield, packages:iterator-utilities
