Repository sapphiredev/utilities, pull requests merged in 2024-08, with the labels that each got.

#783 feat(cron): add `toString()` method
  packages/cron/src/lib/Cron.ts
  packages/cron/tests/lib/Cron.test.ts
Labels: semver:minor, packages:cron

#786 fix(fetch): handle non object bodies properly
  packages/fetch/README.md
  packages/fetch/src/lib/fetch.ts
  packages/fetch/src/lib/types.ts
  packages/fetch/tests/fetch.test.ts
Labels: documentation, semver:patch, packages:fetch

#787 perf: implement fast word writing
  packages/string-store/src/lib/UnalignedUint16Array.ts
  packages/string-store/tests/lib/Schema.test.ts
  packages/string-store/tests/lib/UnalignedUint16Array.test.ts
Labels: performance, semver:patch, packages:string-store

#794 feat: clonable TwemojiRegex
  package.json
  packages/discord-utilities/src/lib/TwemojiRegex.ts
  scripts/twemoji-regex-updater.mts
Labels: feature, semver:minor, packages:discord-utilities
